
#game-container {
  background-color: rgba(128, 128, 128, 0.82);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

#game-start {
  width: 500px ;
  height: 500px;
  background-color: #2e578b;
  display: inline-block;
  margin: auto;
}

#game-button {
  background-color: #82848b;
  display:block;
  cursor:pointer;
  color:#ffffff;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-size:20px;
  margin: auto;
  padding: 30px;
  text-decoration:none;
}

#game-title {
  padding: 50px 20px 20px;
  font-family: 'Lato', sans-serif;
  font-size:30px;
}
#game-title-2 {
  padding: 30px 20px 20px;
  font-size:20px;
}

#game-instruction {
  padding: 20px 20px 2px;
  font-size:15px;

}

#game-arrow {
  height: 40px ;
  text-align: center;
}


.apples {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 200;
  width: 30px;
  height: 30px;
  //background: #ff0000;
  background-image: url("../images/apple.png");
  background-repeat: no-repeat;
  background-size: contain;
}
body {
background-color: grey;
}
#site {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.site {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#gameZone {
  width: 500px ;
  height: 500px;
  //background-color: #2e578b;
  display: inline-block;
  margin: auto;
  background-image: url('../images/game-background.png');
  background-size: cover;
}

.player {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 200;
  width: 100px;
  height: 60px;
  //background: #fffa35;
  background-image: url("../images/basket-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}