$font-size: 1.8em;
$font-color: rgba(6, 6, 6, 0.92);
$font-stack: 'Lato', sans-serif;
$feature-background-color: #f6f6f6;
$team-background-color: #f6f6f6;

#features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: $feature-background-color;
    margin-top: 305px;
    padding: 50px;
}

.features-feature {
    box-sizing: border-box;
    float: left;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    margin: 0 0 2% 0;
    border-bottom: inset;
}

.features-feature:hover {
    background-color: #ebebeb;
}

.features-line-break {
    width: 100%
}

@mixin feature-photo-settings {
    background-position: center 20px;
    background-repeat: no-repeat;
    background-size: 100px;
    padding-top: 10px;
}

#features-suggestion {
    background-image: url(../images/features-suggestion.png);
    @include feature-photo-settings;
}

#features-compare {
    background-image: url(../images/features-compare.png);
    @include feature-photo-settings;
}

#features-nav {
    background-image: url(../images/features-nav.png);
    @include feature-photo-settings;
}

#features-list {
    background-image: url(../images/features-list.png);
    @include feature-photo-settings;
}

.features-title {
    margin-top: 150px;
    text-align: center;
    font-size: $font-size - 0.5em;
    font-weight: 700;
}

.features-description{
    text-align: center;
    padding: 30px 10px 30px;
    font-size: $font-size - 0.8em;
}

div.features-feature:last-child {
    border-bottom: hidden;
}

.team-container-photo {
    width:160px;
    height:160px;
    margin:0 auto;
    perspective:160px;
    border-radius: 50%;
}

.team-obverse-reverse {
    position:relative;
    width:100%;
    height:100%;
    transition:1s;
    transform-style:preserve-3d;
}

.rotation {
    transform:rotateY(180deg);
}

.team-black-obverse {
    position:absolute;
    width:100%;
    height:100%;
    line-height:160px;
    background-color:#000;
    color:#FFF;
    font-size:1.6em;
    backface-visibility:hidden;
    border-radius: 50%;
}

.team-photo-reverse-Piotr {
    line-height:160px;
    transform:rotateY(180deg);
    background:url('../images/team-photo-Piotr.jpg') no-repeat;
    background-size:100%;
    backface-visibility:hidden;
    border-radius: 50%;
    filter: grayscale(90%);
}

.team-photo-reverse-Patryk {
    line-height:160px;
    transform:rotateY(180deg);
    background:url('../images/team-photo-Patryk.jpg') no-repeat;
    background-size:100%;
    backface-visibility:hidden;
    border-radius: 50%;
    filter: grayscale(90%);
}

.team-photo-reverse-Karol {
    line-height:160px;
    transform:rotateY(180deg);
    background:url('../images/team-photo-Karol.jpg') no-repeat;
    background-size:100%;
    backface-visibility:hidden;
    border-radius: 50%;
    filter: grayscale(90%);
}

.team-photo-reverse-Beata {
    line-height:160px;
    transform:rotateY(180deg);
    background:url('../images/team-photo-Beata.jpg') no-repeat;
    background-size:100%;
    backface-visibility:hidden;
    border-radius: 50%;
    filter: grayscale(90%);
}

#team {
    margin: 0;
    padding-bottom: 50px;
    padding-top: 40px;
    background-color: #f6f6f6; }

.team-header {
    text-align: center;
    margin: 20px 0 20px;
    color: rgba(6, 6, 6, 0.92);
    font-size: 1.3em; }

.team-title {
    text-align: center;
    padding: 0 20px 40px;
    font-size: 0.9em;
    color: rgba(6, 6, 6, 0.92); }

#team-section {
    background-color: #f6f6f6;
}

.team-members {
    box-sizing: border-box;
    float: left;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    margin: 0 0 0 0;
    border-top: 1px outset #dfdfe2;
}

div.team-members:first-child {
    border-top: hidden;
}

.team-name {
    margin: auto;
    text-align: center;
    padding: 20px;
    color: rgba(6, 6, 6, 0.92);
    font-size: 1.2em; }

.team-description {
    color: rgba(6, 6, 6, 0.92);
    max-width: 300px;
    width: 100%;
    text-align: justify;
    margin: auto;
    font-size: 0.8em; }

.team-clear {
    clear: both; }

@media screen and (min-width:800px) {
    .features-feature {
        box-sizing: border-box;
        float: left;
        max-width: 800px;
        width: 47%;
        height: 380px;
        padding: 20px;
        padding-top: 40px;
        text-align: center;
        border-bottom: inset;
    }

    .features-feature-clear {
        clear: both;
    }

    .team-members {
        width: 23%;
        margin: 0 1% 0 1%;
        border-top: hidden;
        border-left: 1px outset #dfdfe2;
    }

    .team-clear {
        clear: both;
    }

    div.team-members:first-child {
        border-left: hidden;
    }
}
