.navigation-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navigation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(139,133,135,0.5);
}


li {
  float: left;
}

.navigation {
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 1s transform 5ms;
  font-size: 1em; /* dodalam 1.1*/
}


.floating-clear {
  clear: both;
}



li a:hover {
  transform: scale(1.5);
}
.active {
  transform: scale(1.5);

}

.signup {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #ffffff;
}


.singup-title {
  /*margin-left: -180px;*/ /* dodalam*/
  font-size: 2em;   /* dodalam*/
}

.input-email {
  width: 400px;
  height: 41px;
}

.button-for-form-subskribe {
  background-color: #3e528b;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #61848b;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Lato', sans-serif; /*dodalam*/
  font-size:17px;
  margin-left: 25px;
  padding:13px 21px;
  text-decoration:none;
  text-shadow:0 1px 0 #2f6627;
}
.button-for-form-subskribe:hover {
  opacity: 0.8;
}
.button-for-form-subskribe:active {
  position:relative;
  top:1px;
}
.declaration {
  font-size: 9px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}