body
{
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    min-width: 370px;
}

@import "_footer.scss";
@import "_features-team.scss";
@import "_navigation.scss";
@import "slideshow";
@import "game";