body
{
    background-color: #f6f6f6;
    margin: 0;
    font-family: 'Lato', sans-serif;
    min-width: 370px;
}

.navigation-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navigation-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(139,133,135,0.5);
}


li {
    float: left;
}

.navigation {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    transition: 1s transform 5ms;
    font-size: 1em; /* dodalam 1.1*/
}


.floating-clear {
    clear: both;
}



li a:hover {  transform: scale(1.5);  }

.signup {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    background-color: #ffffff;
}


.singup-title {
    /*margin-left: -180px;*/ /* dodalam*/
    font-size: 2em;   /* dodalam*/
}

.input-email {
    width: 400px;
    height: 40px;

}

.button-for-form-subskribe {
    background-color: #3e528b;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #61848b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Lato', sans-serif; /*dodalam*/
    font-size:17px;
    padding:13px 21px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}
.button-for-form-subskribe:hover {
    background-color: #a469bf;
}
.button-for-form-subskribe:active {
    position:relative;
    top:1px;
}


/*PATRYK*/
#intro
{
    background-image: linear-gradient(to top,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/background/8.jpg);
    /*background-image: url(../images/background/10.jpg);*/
    background-size: cover;
    background-position: center;
    transition: 2s ease;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
}

/*MALY LOGOTYP SERWISU*/

.logo {
    display: block;
    position: inherit;
    zoom: 70%;
    float: left;
    padding-top: 50px;
}
/*NAPIS PROMUJACY*/

.slogan {
    padding: 25% 10px 5%;
    text-align: center;
    font-style: italic; /*czy jest ok?*/
    position: relative;
}

.slogan h1 {
    color: antiquewhite;
    font-weight:bold;
    font-size: 48px;
    /*font-family: "Courier 10 Pitch";*/
}

.slogan p {
    margin-top: 20px;
    font-size: 20px;
    color: ghostwhite;
    font-weight: lighter;
    line-height: 31px;
}

#subscribe {
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    text-align: center;
    width: 300px;
    height: 60px;
    opacity: 0.5;
    background-color: #fff76c;
    font-size: 28px;
    box-shadow: 0px 0px 222px white;
    color: black;
    /*font-family: 'Courgette', cursive;*/
    font-family: 'Lato', sans-serif; /*dodalam*/
    font-style: normal; /*dodalam*/
}

#subscribe:hover
{
    opacity: 0.7;
    text-decoration: none;
}



@import "_footer.scss";
@import "_features-team.scss";
