body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-width: 370px; }

.navigation-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.navigation-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(139, 133, 135, 0.5); }

li {
  float: left; }

.navigation {
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: 1s transform 5ms;
  font-size: 1em;
  /* dodalam 1.1*/ }

.floating-clear {
  clear: both; }

li a:hover {
  transform: scale(1.5); }

.signup {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #ffffff; }

.singup-title {
  /*margin-left: -180px;*/
  /* dodalam*/
  font-size: 2em;
  /* dodalam*/ }

.input-email {
  width: 400px;
  height: 40px; }

.my-button {
  background-color: #3e528b;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #61848b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  /*dodalam*/
  font-size: 17px;
  padding: 13px 21px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627; }

.my-button:hover {
  background-color: #a469bf; }

.my-button:active {
  position: relative;
  top: 1px; }

/*PATRYK*/
#intro {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/background/8.jpg);
  /*background-image: url(../images/background/10.jpg);*/
  background-size: cover;
  background-position: center;
  transition: 2s ease;
  position: relative;
  background-repeat: no-repeat;
  height: 100%; }

/*MALY LOGOTYP SERWISU*/
.logo {
  display: block;
  position: inherit;
  zoom: 70%;
  float: left;
  padding-top: 50px; }

/*NAPIS PROMUJACY*/
.slogan {
  padding: 25% 10px 5%;
  text-align: center;
  font-style: italic;
  /*czy jest ok?*/
  position: relative; }

.slogan h1 {
  color: antiquewhite;
  font-weight: bold;
  font-size: 48px;
  /*font-family: "Courier 10 Pitch";*/ }

.slogan p {
  margin-top: 20px;
  font-size: 20px;
  color: ghostwhite;
  font-weight: lighter;
  line-height: 31px; }

#subscribe {
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  text-align: center;
  width: 300px;
  height: 60px;
  opacity: 0.5;
  background-color: #fff76c;
  font-size: 28px;
  box-shadow: 0px 0px 222px white;
  color: black;
  /*font-family: 'Courgette', cursive;*/
  font-family: 'Lato', sans-serif;
  /*dodalam*/
  font-style: normal;
  /*dodalam*/ }

#subscribe:hover {
  opacity: 0.7;
  text-decoration: none; }

footer {
  background-color: rgba(253, 253, 253, 0.9);
  padding-top: 20px; }

a.footer-social-icons {
  color: black;
  text-decoration: none; }

#footer-youtube-icon {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 20px;
  transition: background-color 1500ms,  color 1500ms, transform 1500ms; }

#footer-facebook-icon {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 20px;
  transition: background-color 1500ms,  color 1500ms, transform 1500ms; }

#footer-googleplus-icon {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 20px;
  transition: background-color 1500ms,  color 1500ms, transform 1500ms; }

#footer-instagram-icon {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 20px;
  transition: background-color 1500ms,  color 1500ms, transform 1500ms; }

#footer-gmail-icon {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: 20px;
  transition: background-color 1500ms,  color 1500ms, transform 1500ms; }

#footer-youtube-icon:hover {
  color: white;
  transform: rotate(360deg);
  background-color: #CC181E; }

#footer-facebook-icon:hover {
  color: white;
  transform: rotate(360deg);
  background-color: #3B5998; }

#footer-googleplus-icon:hover {
  color: white;
  transform: rotate(360deg);
  background-color: #dd4b39; }

#footer-instagram-icon:hover {
  color: white;
  transform: rotate(360deg);
  background-color: #405de6; }

#footer-gmail-icon:hover {
  color: white;
  transform: rotate(360deg);
  background-color: red; }

#footer-poznajmy-text {
  font-size: 15px;
  text-align: left;
  color: black;
  float: left;
  margin-left: 10px; }

#footer-kontakt-text {
  font-size: 15px;
  text-align: left;
  color: black;
  float: right;
  margin-right: 10px; }

footer, #footer-socials-text {
  padding-bottom: 1px; }

#footer-credits {
  text-align: center;
  background-color: #dfdfe2;
  color: black;
  padding-bottom: 1px;
  width: 100%;
  font-size: 10px; }

#features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
  margin-top: 150px;
  padding: 50px; }

.features-feature {
  margin: 30px 30px 30px;
  padding: 5px;
  width: 40%;
  border-bottom: inset; }

.features-feature:hover {
  background-color: #ebebeb; }

.features-line-break {
  width: 100%; }

#features-suggestion {
  background-image: url(../images/features-suggestion.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 10px; }

#features-compare {
  background-image: url(../images/features-compare.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 10px; }

#features-nav {
  background-image: url(../images/features-nav.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 10px; }

#features-list {
  background-image: url(../images/features-list.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-top: 10px; }

.features-title {
  margin-top: 150px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700; }

.features-description {
  text-align: center;
  padding: 30px 10px 30px;
  font-size: 1em; }

#team {
  margin: 0;
  padding-top: 40px;
  background-color: #f6f6f6; }

.team-header {
  text-align: center;
  margin: 20px 0 20px;
  color: rgba(6, 6, 6, 0.92);
  font-size: 1.3em; }

.team-title {
  text-align: center;
  padding: 0 20px 40px;
  font-size: 0.9em;
  color: rgba(6, 6, 6, 0.92); }

#team-section {
  background-color: #f6f6f6; }

.team-members {
  box-sizing: border-box;
  float: left;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  margin: 0 0 2% 0;
  border-top: 1px outset #dfdfe2; }

div.team-members:first-child {
  border-top: hidden; }

.team-members img {
  max-width: 200px;
  width: 100%;
  border-radius: 50%; }

.team-photo {
  opacity: 0.8;
  filter: grayscale(90%);
  margin-bottom: 10px; }

.team-name {
  margin: auto;
  text-align: center;
  padding: 20px;
  color: rgba(6, 6, 6, 0.92);
  font-size: 1.2em; }

.team-description {
  color: rgba(6, 6, 6, 0.92);
  max-width: 300px;
  width: 100%;
  text-align: justify;
  margin: auto;
  font-size: 0.8em; }

.team-photo:hover {
  opacity: 1;
  transition: opacity 0.9s; }

.team-clear {
  clear: both; }

@media screen and (min-width: 800px) {
  .team-members {
    width: 23%;
    margin: 0 1% 0 1%;
    border-top: hidden;
    border-left: 1px outset #dfdfe2; }

  .team-clear {
    clear: both; }

  div.team-members:first-child {
    border-left: hidden; } }

/*# sourceMappingURL=main.css.map */
